* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header, .main{
  padding: 1.3rem 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.main {
  max-height: 700px;
}

.inner-div {
  display: flex;
  width: 75%;
}

.left-section{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.abstract{
  font-weight: bold;
  font-size: 1.5rem;
  border-right-width: 2px;
  border-right-color: white;
  border-right-style: solid;
  padding: 1% 6%;
}

.help{
  font-size: 1.5rem;
  width: 200px;
  padding: 1% 6%;
}

.right-section {
  display: flex;
  column-gap: 5%;
}

button {
  padding: 2% 0;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
}
button:hover {
  opacity: 0.85;
}

.submit-request {
  background-color: rgb(43, 43, 43);
  border: 1px solid white;
  width: 210px;
}

.sign-in {
  background-color: #4C5FD5;
  width: 110px;
}

.main{
  background-color: #dadbf1;
  color: black;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 60vh;
  row-gap: 5%;
}

.main-text{
  font-size: 4.5rem;
  font-weight: bold;
}

.search-bar{
  font-size: 2rem;
  padding: 0.5% 1%;
  width: 50%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.services-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
  border: 1px solid black;
}

.inner-service-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service{
  display: flex;
  align-items: center;
  column-gap: 5%;
  flex-basis: 40%;
  margin: 4% 0;
}

.logo-div {
  width: 20%;
  width: fit-content;
}

.logo{
  height: 90px;
}

.text{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.heading{
  font-weight: bold;
  font-size: 1.8rem;
}
.paragraph{
  font-size: 1.4rem;
}
.learn-more{
  font-size: 1.35rem;
  color: #4C5FD5;;
}

footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 7% 0%;
}
.inner-footer-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px; /*   --------   */
}

.upper-side {
  display: flex;
  justify-content: space-between;
}

.box-div{
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 15px;
}
.box-heading{
  font-weight: bold;
  font-size: 2rem;
}
.rows{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.copyright {
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 1030px) {
  div .main-text {
    font-size: 3.5rem;
  }
  .inner-service-div {
    flex-direction: column;
  }
}


/* @media (max-width: 500px) {
  div .main-text {
    /* font-size: 32px; 
    color: red;
  }
} */

/* @media (max-width: 978px) {
  div .main-text {
    /* color: red; 
    font-size: 2.5rem;
  }
} */

@media (max-width: 678px) {
  header {
    justify-content: flex-end;
    padding: 5px 0;
  }
  button {
    font-size: 1rem;
    padding: 0.5%;
  }
  .left-section {
    margin: 0;
  }
}

/* @media (max-width: 500px) {
  div .main-text {
    /* color: red; 
    font-size: 2.9rem;
  }
  .hero {
    align-items: start;
  }
  header, .main {
    padding: 0.8rem 0;
  }
} */